body 
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Times, serif;
    background-color: lightgray;
    text-align: center;
    font-style: oblique;
    font-weight: lighter;
}
form 
{
    background-color: gainsboro;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Times, serif;
    align-items: center;
}
h3
{
    font-weight: lighter;
}
h1
{
    color: lightcoral;
}